/*

● If margin is applied to elements that are below the floated element, it will only apply to the content that is apart from the height and width of the floated content. It should be applied to the floated content.


● "element.name1.name2" makes an element with two class names.


● To keep a floated element wrapped in a container, the container's ruleset has to contain "display: flow-root" declaration.


● The "clear" property makes the element to which it is applied go past floating elements if it is in the area of the floated element.

Values:

none
Is a keyword indicating that the element is not moved down to clear past floating elements.

left
Is a keyword indicating that the element is moved down to clear past left floats.

right
Is a keyword indicating that the element is moved down to clear past right floats.

both
Is a keyword indicating that the element is moved down to clear past both left and right floats.

inline-start
Is a keyword indicating that the element is moved down to clear floats on start side of its containing block, that is the left floats on ltr scripts and the right floats on rtl scripts.

inline-end
Is a keyword indicating that the element is moved down to clear floats on end side of its containing block, that is the right floats on ltr scripts and the left floats on rtl scripts.


● The element that is applied with 'clear' must be in the same level or after the floated element and it creates an extra space.


● "clear" makes the element applied with it start after the targetted floating element.


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 


● 

*/

body {
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
}

.block {
    width: 8vw;
    height: 8vw;
    background-color: black;
    color:white;
    outline: 20px double red;
    outline-offset: 10px;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}